.row {
  display: flex;
  flex-direction: row;
  overflow: visible;
}

.row div {
  width: 4em;
  height: 4em;
  background-size: contain;
  overflow: visible;
}

@media (max-width: 675px) {
  .row div {
    width: 3.8em;
    height: 3.8em;
  }
}

@media (max-width: 600px) {
  .row div {
    width: 3.5em;
    height: 3.5em;
  }
}

.tooltip {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  padding-right: 6.5rem;
  z-index: 10;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 3px 0px rgb(192, 191, 191);
}

.tooltip button {
  height: 2.4em;
  width: 2.4em;
  margin-left: 0.6em;
  border-radius: 3px;
  border: 0.1em solid rgb(209, 209, 209);
  box-shadow: 1px 2px 5px rgb(56, 56, 56);
  background-size: contain;
}

.dark {
  background-color: rgb(36, 129, 36);
}

.light {
  background-color: rgb(248, 238, 238);
}

.highlight-case {
  background-color: rgb(118, 185, 121);
}

.bp {
  background-image: url("../assets/blackPawn.png");
}

.bh {
  background-image: url("../assets/blackHook.png");
}

.bn {
  background-image: url("../assets/blackKnight.png");
}

.bb {
  background-image: url("../assets/blackBishop.png");
}

.bq {
  background-image: url("../assets/blackQueen.png");
}

.bk {
  background-image: url("../assets/blackKing.png");
}

.wp {
  background-image: url("../assets/whitePawn.png");
}

.wh {
  background-image: url("../assets/whiteHook.png");
}

.wn {
  background-image: url("../assets/whiteKnight.png");
}

.wb {
  background-image: url("../assets/whiteBishop.png");
}

.wq {
  background-image: url("../assets/whiteQueen.png");
}

.wk {
  background-image: url("../assets/whiteKing.png");
}

:where(.bp, .bh, .bn, .bb, .bq, .bk, .wp, .wh, .wn, .wb, .wq, .wk) {
  background-repeat: no-repeat;
}

:where(.bp, .bh, .bn, .bb, .bq, .bk, .wp, .wh, .wn, .wb, .wq, .wk):hover {
  cursor: pointer;
}
