.row {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
  overflow: visible;
}

.row div {
  width: 4rem;
  height: 4rem;
  background-size: contain;
  overflow: visible;
}

.row button {
  border: none;
  padding: 0;
}

.tooltip {
  position: absolute;
  display: grid;
  grid-auto-flow: column;
  padding-right: 6.5rem;
  padding-top: 0rem;
  padding-bottom: -2rem;
  z-index: 100;
  margin-left: 0rem;
  margin-top: 0rem;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 3px 0px rgb(209, 209, 209);
}

.tooltip-wrap {
  display: none;
}

.tooltip button {
  height: 2rem;
  width: 2rem;
  margin-top: 0.7rem;
  margin-left: 0.5rem;
  border-radius: 3px;
  background-size: contain;
}

.dark {
  background-color: rgb(36, 129, 36);
}

.light {
  background-color: rgb(248, 238, 238);
}

.bp {
  background-image: url("../assets/blackPawn.png");
}

.bh {
  background-image: url("../assets/blackHook.png");
}

.bn {
  background-image: url("../assets/blackKnight.png");
}

.bb {
  background-image: url("../assets/blackBishop.png");
}

.bq {
  background-image: url("../assets/blackQueen.png");
}

.bk {
  background-image: url("../assets/blackKingpng.png");
}

.wp {
  background-image: url("../assets/whitePawn.png");
}

.wh {
  background-image: url("../assets/whiteHook.png");
}

.wn {
  background-image: url("../assets/whiteKnight.png");
}

.wb {
  background-image: url("../assets/whiteBishop.png");
}

.wq {
  background-image: url("../assets/whiteQueen.png");
}

.wk {
  background-image: url("../assets/whiteKing.png");
}

:where(.bp, .bh, .bn, .bb, .bq, .bk, .wp, .wh, .wn, .wb, .wq, .wk) {
  background-repeat: no-repeat;
}

:where(.bp, .bh, .bn, .bb, .bq, .bk, .wp, .wh, .wn, .wb, .wq, .wk):hover {
  cursor: pointer;
}
