.grid__controls {
  display: grid;
  grid-template-rows: 31em;
  grid-template-columns: 23em;
}

.controls__container {
  background-color: rgb(37, 37, 37);
  border-radius: 5px;
}

.controls__container nav {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.controls__container nav div {
  text-align: center;
  color: white;
  padding: 1em 0em;
  padding-bottom: 0.5em;
  font-size: 1rem;
  background-color: rgb(32, 32, 32);
}

.controls__container nav div:first-child {
  border-top-left-radius: 5px;
}

.controls__container nav div:nth-child(2) {
  border-top-right-radius: 5px;
}

.controls__container nav div:hover {
  cursor: pointer;
}

.highlight__tab {
  background-color: rgb(37, 37, 37) !important;
}

.controls__container nav div p {
  margin: 0;
}

.controls__body {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  height: calc(100% - 0.5em);
}

.correct__ui__active__game {
  height: calc(100% - 5em);
}

.selected__time {
  background-color: white;
  margin: 0.3em 1em;
  text-align: center;
  padding: 0.3em;
  font-size: 1.7rem;
  border-radius: 5px;
  box-shadow: 0px 4px 0px rgb(146, 146, 146);
}

.time__options__container {
  margin: 0em 1.5em;
}

.time__options {
  margin: 1em 0em;
  margin-top: 0.5em;
}

.time__options p {
  margin: 0;
  font-size: 1rem;
  color: white;
}

.time__options button {
  background-color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  padding: 0.5em 1em;
  box-shadow: 0px 4px 0px rgb(146, 146, 146);
}

.time__options--custom input {
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  padding: 0.5em 0.2em;
  width: 5em;
}

input + input {
  margin-left: 1em;
}

button + button {
  margin-left: 1em;
}

.play__btn__container {
  width: auto;
  margin: 0.8em 1em;
  margin-top: 0.2em;
}

.play__btn {
  background-color: rgb(36, 129, 36);
  color: white;
  font-size: 2rem;
  padding: 0.3em 2em;
  width: 100%;
  border-radius: 8px;
  border: 0.1em solid rgb(44, 44, 44);
  box-shadow: 0px 4px rgb(56, 56, 56);
  margin-top: -0.3em;
}

.play__btn--new--game {
  font-size: 1.5rem;
  margin: 0.2em 0em;
}

.no__games__msg {
  position: relative;
  margin: 1em;
  color: white;
  text-align: center;
  top: 50%;
  transform: translateY(-150%);
}

.no__games__msg i {
  font-size: 2em;
}

.no__games__msg p {
  font-size: 1.3em;
  margin: 0em;
}

.moves__display {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  overflow-y: scroll;
  background-color: rgb(59, 59, 59);
  border-radius: 5px;
}

.moves__display::-webkit-scrollbar {
  width: 10px;
  display: block;
}

.moves__display::-webkit-scrollbar-track {
  background-color: rgb(59, 59, 59);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.moves__display::-webkit-scrollbar-thumb {
  background: rgb(10, 10, 10);
  border-radius: 5px;
}

.white__moves {
  background-color: rgb(73, 72, 72);
  padding-left: 1em;
}

.white__moves,
.black__moves {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.move__notation__container,
.move__notation {
  color: white;
  font-size: 1rem;
  display: flex;
  align-items: center;
  align-content: center;
}

.move__notation__container {
  border-bottom: solid 1px rgb(112, 112, 112);
  margin-top: 0.7em;
}

.move__notation {
  width: fit-content;
}

.move__notation div {
  width: 22px;
  height: 22px;
}

.move__notation div:hover {
  cursor: initial !important;
}

.highlight__move {
  background-color: rgba(129, 129, 129, 0.5);
  border-radius: 5px;
  padding-right: 0.2em;
}

.game__controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;
  padding: 0em 0.3em;
  margin: 0.5em 0em;
}

.game__controls span {
  color: white;
}

.game__controls > *:hover {
  cursor: pointer;
}

.player__actions__controls {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.1rem;
  gap: 0.5em;
}

.movements__controls span {
  font-size: 1.5rem !important;
  font-weight: bold;
}

.surrender__tooltip {
  display: flex;
  gap: 0.2em;
  position: absolute;
  margin-bottom: 2.7em;
  margin-left: 0.2em;
  background-color: rgb(148, 146, 146);
  padding: 0.2em;
  border-radius: 5px;
}

.surrender__tooltip div {
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

.surrender__tooltip div:first-child {
  background-color: white;
}

.surrender__tooltip div:last-child {
  background-color: black;
}

.draw__tooltip {
  gap: 0.2em;
  position: absolute;
  margin-bottom: 5em;
  margin-left: 2em;
  background-color: rgb(148, 146, 146);
  padding: 0.2em;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.3em;
}

.draw__tooltip p {
  margin: 0;
  margin-bottom: 0.3em;
}

.draw__tooltip__btns {
  display: flex;
  gap: 0.7em;
}

.draw__tooltip__btns div {
  border-radius: 5px;
  padding: 0.2rem;
  background-color: rgb(119, 118, 118);
}

.draw__tooltip__btns div:hover {
  background-color: rgb(78, 76, 76);
}

.games__log__container {
  height: 100%;
  overflow-y: scroll;
}

.games__log__container::-webkit-scrollbar {
  width: 10px;
  display: block;
}

.games__log__container::-webkit-scrollbar-track {
  background-color: rgb(37, 37, 37);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.games__log__container::-webkit-scrollbar-thumb {
  background: rgb(37, 37, 37);
  border-radius: 5px;
}

.game__log {
  background-color: rgba(58, 58, 58, 0.5);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  font-size: 1.2rem;
}

.game__log + .game__log {
  border-top: solid rgb(49, 49, 49) 2px;
}

.game__log:hover {
  cursor: pointer;
}

.result__box {
  width: 2.5em;
  height: 2.5em;
}

.move__count_display {
  display: flex;
  align-items: center;
}

.piece___icon__log {
  height: 20px;
  width: 20px;
}

.white__win {
  background-color: white;
}

.black__win {
  background-color: black;
}

.draw {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 50%,
    rgba(255, 255, 255, 1) 50%
  );
}
