.board {
  display: flex;
  flex-direction: row;
  background-color: rgba(116, 115, 115, 0.2);
  width: 22rem;
  height: 25rem;
  margin-top: 2rem;
  margin-left: -5rem;
  overflow-y: scroll;
}

.start-game-div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 25rem;
  height: 30rem;
  margin-top: 3rem;
  margin-left: -5rem;
  border-radius: 5px;
  background-color: rgba(116, 115, 115, 0.2);
}

.start-game-div div {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-bottom: 2rem;
  margin-left: 6.2rem;
}

.start-game-div label {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 0.5rem;
}

.start-game-div select {
  font-size: 1.5rem;
  border-color: rgb(44, 44, 44);
  border-radius: 5px;
  background-color: rgba(116, 115, 115, 0.2);
  height: 3rem;
}

.start-game.div select:focus {
  outline: none;
}

.start-game-div button {
  width: 15rem;
  height: 3.5rem;
  position: relative;
  margin-left: 5rem;
  border-width: 0.2;
  border-style: solid;
  border-radius: 10px;
  box-shadow: 0px 4px rgb(56, 56, 56);
  border-color: rgb(44, 44, 44);
  background-color: rgb(17, 124, 17);
  font-size: 2rem;
  color: white;
}

.start-game-div button:hover {
  cursor: pointer;
}

.board::-webkit-scrollbar {
  width: 10px;
  display: block;
}

.board::-webkit-scrollbar-track {
  background-color: rgba(116, 115, 115, 0.2);
}

.board::-webkit-scrollbar-thumb {
  background: #535353;
  border-radius: 5px;
}

.board ol,
.board ul {
  color: white;
}

.board ul {
  list-style: none;
}

.board ol div,
.board ul div {
  width: 2rem;
  height: 2rem;
  background-size: contain;
}

.bp {
  background-image: url("../assets/blackPawn.png");
}

.bh {
  background-image: url("../assets/blackHook.png");
}

.bn {
  background-image: url("../assets/blackKnight.png");
}

.bb {
  background-image: url("../assets/blackBishop.png");
}

.bq {
  background-image: url("../assets/blackQueen.png");
}

.bk {
  background-image: url("../assets/blackKingpng.png");
}

.wp {
  background-image: url("../assets/whitePawn.png");
}

.wh {
  background-image: url("../assets/whiteHook.png");
}

.wn {
  background-image: url("../assets/whiteKnight.png");
}

.wb {
  background-image: url("../assets/whiteBishop.png");
}

.wq {
  background-image: url("../assets/whiteQueen.png");
}

.wk {
  background-image: url("../assets/whiteKing.png");
}
