.board {
  display: flex;
  flex-direction: row;
  background-color: rgba(116, 115, 115, 0.2);
  width: 22rem;
  height: 25rem;
  margin-top: 2rem;
  margin-left: -5rem;
  overflow-y: scroll;
}

.board::-webkit-scrollbar {
  width: 10px;
  display: block;
}

.board::-webkit-scrollbar-track {
  background-color: rgba(116, 115, 115, 0.2);
}

.board::-webkit-scrollbar-thumb {
  background: #535353;
  border-radius: 5px;
}

.board ol,
.board ul {
  color: white;
}

.board ul {
  list-style: none;
}

.board ol div,
.board ul div {
  width: 2rem;
  height: 2rem;
  background-size: contain;
}

.bp {
  background-image: url("../assets/blackPawn.png");
}

.bh {
  background-image: url("../assets/blackHook.png");
}

.bn {
  background-image: url("../assets/blackKnight.png");
}

.bb {
  background-image: url("../assets/blackBishop.png");
}

.bq {
  background-image: url("../assets/blackQueen.png");
}

.bk {
  background-image: url("../assets/blackKingpng.png");
}

.wp {
  background-image: url("../assets/whitePawn.png");
}

.wh {
  background-image: url("../assets/whiteHook.png");
}

.wn {
  background-image: url("../assets/whiteKnight.png");
}

.wb {
  background-image: url("../assets/whiteBishop.png");
}

.wq {
  background-image: url("../assets/whiteQueen.png");
}

.wk {
  background-image: url("../assets/whiteKing.png");
}
