.moves-log {
  background-color: rgba(116, 115, 115, 0.2);
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  height: 30rem;
  border-radius: 5px;
}

.expanded-moves-log {
  height: 30rem;
}

.expanded-moves-log h1 {
  margin-top: 0.2em;
}

.extra-margin {
  margin-left: -5.6em;
}

@media (max-width: 690px) {
  .moves-log {
    width: 25em;
  }
}

@media (max-width: 601px) {
  .moves-log {
    width: 22em;
  }
}

.moves-log h1 {
  color: white;
  text-align: center;
  padding-top: 0.2em;
}

.entrys {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 21em;
  justify-content: space-around;
}

.start-game-div {
  display: flex;
  flex-direction: column;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  border-radius: 5px;
  background-color: rgba(116, 115, 115, 0.2);
}

.selected-time {
  border: none;
  border-radius: 4.5px;
  background-color: rgb(221, 221, 196);
  width: 100%;
  padding: 0.5em;
  font-size: 1.7rem;
}

.play-button {
  padding: 0.3em;
  width: 100%;
  border: 0.1em solid rgb(44, 44, 44);
  border-radius: 10px;
  box-shadow: 0px 4px rgb(56, 56, 56);
  background-color: rgb(17, 124, 17);
  font-size: 2rem;
  color: white;
}

@media (max-width: 1150px) {
  .play-button {
    font-size: 1.5rem;
  }
}

.piece {
  width: 1.3em;
  height: 1.2em;
  background-size: contain;
  background-repeat: no-repeat;
}

.adjust-white-size {
  width: 1.3em;
  height: 1em;
}

.entry-white {
  list-style: none;
  margin: 0 2em;
  width: 100%;
  padding: 0;
  margin-right: 0em;
  margin-left: 1em;
}

.entry-black {
  width: 100%;
  padding: 0;
  margin: 0 5em;
  margin-left: 0em;
  margin-right: 1em;
}

.entry-white li {
  display: flex;
  font-size: 1.5rem;
  margin-bottom: 0.5em;
  color: white;
}

.entry-white li div {
  display: flex;
  font-size: 1.5rem;
  padding: 0.1em 0.1em;
  margin-bottom: 0em;
  color: white;
}

.entry-black li {
  display: flex;
  font-size: 1.5rem;
  margin-bottom: 0.5em;
  padding: 0.1em 0.1em;
  color: white;
}

.overflow {
  overflow-y: scroll;
}

.entrys::-webkit-scrollbar {
  width: 10px;
  display: block;
}

.entrys::-webkit-scrollbar-track {
  background-color: rgba(116, 115, 115, 0.2);
}

.entrys::-webkit-scrollbar-thumb {
  background: #535353;
  border-radius: 5px;
}

.time-options {
  margin-left: 0.5em;
  margin-bottom: 1em;
}

.time-options p {
  font-weight: 700;
  color: white;
}

.time-options-item {
  display: flex;
  flex-direction: row;
}

.time-options-item button {
  border: none;
  border-radius: 2px;
  margin-right: 0.5rem;
  background-color: rgb(221, 221, 196);
  width: 4em;
  padding: 0.5em 0em;
  font-size: clamp(0.2rem, 4vw, 1rem);
}

.custom-time-inputs {
  display: flex;
  flex-direction: row;
}

.custom-time-inputs input {
  width: 20%;
  margin-right: 0.5rem;
  height: 2em;
  border-radius: 2px;
  border: none;
  font-size: 1rem;
  padding-left: 0.2rem;
}

.custom-time-inputs button {
  background-color: white;
  border: none;
  border-radius: 2px;
}

.custom-time-inputs button img {
  width: 2em;
  height: 2em;
}

.custom-time-inputs input::placeholder {
  padding-left: 0.2em;
  font-size: 0.8rem;
}

.moves-log p:last-child {
  color: white;
  margin-top: 1.7rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.actions {
  display: flex;
  flex-direction: row;
  border-top: solid rgb(56, 56, 56) 2px;
}

.abandon-button {
  display: flex;
  flex-direction: row;
}

.abandon-button p {
  font-size: 1rem;
  margin-left: 0.3em;
}

.abandon-button i {
  color: white;
  margin-top: 1.9em;
}

.abandon-popup {
  position: absolute;
  background-color: #2c2c2c;
  border-radius: 5px;
  padding: 0.5em 0.5em;
  margin-left: 2em;
  margin-top: -8.5em;
}

.abandon-popup div:hover,
.abandon-button:hover {
  cursor: pointer;
}

.abandon-popup div div {
  width: 1em;
  height: 1em;
  margin-top: 1.8em;
  margin-right: 0.2em;
  border: 3px solid #3f3e3e;
  border-radius: 5px;
}

.draw-button {
  margin-left: 2em;
}

.draw-button p {
  font-size: 1rem;
  margin-left: 0.3em;
}

.draw-popup {
  position: absolute;
  background-color: #2c2c2c;
  border-radius: 5px;
  padding: 1em 1em;
  margin-left: 2em;
  margin-top: -4.2em;
}

.draw-button:hover {
  cursor: pointer;
}

.draw-popup p {
  color: white;
  font-size: 1rem;
  margin-left: 0.3em;
  margin-bottom: 0;
}

.draw-popup button {
  margin-top: 1.8em;
  margin-right: 0.2em;
  color: white;
  font-size: 1rem;
  background-color: rgb(17, 124, 17);
  border: 3px solid #292929;
  border-radius: 5px;
  margin-top: 0.3em;
  margin-left: 0.4em;
}

.move-buttons {
  margin-top: 1em;
  margin-left: 2em;
}

.move-buttons span {
  color: white;
  font-size: 2rem;
  font-family: "Lexend", sans-serif;
}

.backwards {
  margin-left: 0.2em;
  margin-right: 0.12em;
}

.forwards {
  margin-left: 0.2em;
  margin-right: 0.12em;
}

.endgame-actions {
  display: flex;
}

.endgame-actions .move-buttons {
  margin-left: 1em;
}

.move-buttons span:hover {
  cursor: pointer;
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}

.abandon-popup div {
  display: flex;
}

.highlight-last-move {
  background-color: #3f3e3e;
  border-radius: 3px;
}

.bp {
  background-image: url("../assets/blackPawn.png");
}

.bh {
  background-image: url("../assets/blackHook.png");
}

.bn {
  background-image: url("../assets/blackKnight.png");
}

.bb {
  background-image: url("../assets/blackBishop.png");
}

.bq {
  background-image: url("../assets/blackQueen.png");
}

.bk {
  background-image: url("../assets/blackKingpng.png");
}

.wp {
  background-image: url("../assets/whitePawn.png");
}

.wh {
  background-image: url("../assets/whiteHook.png");
}

.wn {
  background-image: url("../assets/whiteKnight.png");
}

.wb {
  background-image: url("../assets/whiteBishop.png");
}

.wq {
  background-image: url("../assets/whiteQueen.png");
}

.wk {
  background-image: url("../assets/whiteKing.png");
}

button:hover {
  cursor: pointer;
}
