.main-div {
  display: grid;
  grid-template-columns: auto 30%;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
  margin: 0 2em;
}

.player-info {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 720px) {
  .main-div {
    display: flex;
    flex-direction: column;
  }
}
